body{
    background-color: #fffae3;
    font-family: 'Montserrat', Arial, sans-serif;
}
.card{
    width:30rem;
    margin: auto;
    margin-top:13rem;
    border:solid 1px black;
    box-shadow: black 0px 0px 5px;
}
.card-body{
    background-color: #fffae3;
}
.card-header{
    background-color: #fec15f;;
}
#entrar{
    background-color:black !important;
    margin-bottom: 1rem;
}