body{
    margin:0;
    padding:0;
    background-color: #fffae3;
    font-family: 'Montserrat', Arial, sans-serif;
}
.foto{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 1rem;
    gap: 1rem;
}
.perfil{
    width:15rem;
    height:15rem;
}
.alterar{
    display: flex;
    margin-left:0.5rem;
}
.info{
    height: 30rem;
    width: 100%;
    margin-top:2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: black 0px 5px 15px;
}
.ftassinatura{
    width: 300px;
    margin-bottom:1rem;
    border-radius:13px; 
}
.email{
    margin-bottom:6rem;
}
.senha{
    margin-bottom:5rem;
}
.voltar{
    display: flex;
    justify-content: space-between;
    padding-top:2rem;
    padding-right:2rem;
    background-color: white;
    border-bottom: solid,2px,black;
    box-shadow:black 0px 5px 15px
}
.dados{
    margin-top:2rem;
}
.assinatura{
    margin-top: 1rem;
}
.editar{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    height: 2rem;
    margin-left:2rem;
}
.editarimg{
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
}
.btnvoltar a{
    background-color: black !important;
    color: white;
    margin-bottom: 1rem;
    height: 2.8rem;
    border:solid,1px,black;
}
.btnvoltar a:hover{
    background-color: #fec15f !important;
    color: black;
    border:solid,1px,#fec15f;
}
.editar:hover{
    text-decoration: underline;
}
#sair{
    background-color:black;
    color:white;
    border:solid,1px,black;
}
#sair:hover{
    background-color: #fec15f !important;
    color: black;
    border:solid,1px,#fec15f;
}
.pontos{
    margin-right:50rem;
}
.btnpedidos{
    text-decoration: none;
    color:black;
    background-color: white;
    font-size: 1.5rem;
    height: 2rem;
    border: none;
    margin-left:2rem;
    transition: transform 0.3s;
}
.btnpedidos:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    width:40rem;
    height:18rem;
    justify-content: space-around;
}
.fotoProduto img{
    width:200px;
    height:200px;
}
.nome{
    display: flex;
}
.preco{
    display: flex;
}
.endereco{
    display: flex;
    margin-top:1rem;
}
.cidade{
    margin-left:3rem;
}
.descricao{
    margin-left:3rem;
}
.info, .foto, .assinatura {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 0.8s forwards;
}
.info { animation-delay: 0.2s; }
.foto { animation-delay: 0.4s; }
.assinatura { animation-delay: 0.6s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btnpedidos:hover {
    text-decoration: underline;
    transform: scale(1.12);
    transition: 0.3s;
}